body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 15vw;
  position: fixed;
  z-index: 1;
  top: 0vw;
  left: 0vw;
  background-color: #212529;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  padding: 0.7vw 0vw 0.7vw 0vw;
  text-decoration: none;
  font-size: 1.5vw;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.closebtn {
  margin-left: 3%;
  font-size: 30px!important;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.logohra{
	width: 7vw;
	border-radius: 100vw;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
}

.user{
	margin-left: 15%;
}

.home{
	margin-top: 0.5vw;
	width: 3vw;
	float:left;
	padding-right: 0.5vw;
}

.staff{
	margin-top: 0.5vw;
	width: 3vw;
	float:left;
	padding-right: 0.5vw;
}

.activities{
	margin-top: 0.5vw;
	width: 3vw;
	float:left;
	padding-right: 0.5vw;
}

.organization{
	margin-top: 0.5vw;
	width: 3vw;
	float:left;
	padding-right: 0.5vw;
}

.localisation{
	margin-top: 0.5vw;
	width: 3vw;
	float:left;
	padding-right: 0.5vw;
}

.contact{
	margin-top: 0.7vw;
	width: 3vw;
	float:left;
	padding-right: 0.5vw;
}

.footermenu{
	margin-top: 100%;
}

.dividermenu{
	border-top: 0.1vw solid #bbb;
}

.settings{
	margin-top: 0.5vw;
	width: 3vw;
	float:left;
	padding-right: 0.5vw;
}

.register{
	margin-top: 0.7vw;
	margin-left: 0.2vw;
	width: 3vw;
	float:left;
	padding-right: 0.3vw;
}

.login{
	margin-top: 0.7vw;
	width: 3vw;
	float:left;
	padding-right: 0.5vw;
}

.logout{
	margin-top: 0.5vw;
	width: 3vw;
	float:left;
	padding-right: 0.5vw;
}

.margin-navbar{
	margin-left: 20%;
	margin-top: 5%;
}

/* ********************************************* SCROLL *********************************************** */

html{
	scroll-behavior: smooth;
}

/* ********************************************* TITLE *********************************************** */

h2, h3, h4, footer{
	text-align: center;
	color:#FFFF;
}
h5{
	color:#FFFF;
	font-size: 18px !important;
}

/* ********************************************* NAVBAR *********************************************** */

.nav-item{
	color: #212529;
	font-weight: bold;
	margin-right: 20px;
}


/* ********************************************* SEARCH *********************************************** */

#search {
  background-size: cover;
  height: 0px;
  width: 70px;
  min-width: 450px;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 55px;
  margin-right: 20px;
}

#search .input-group {
  width: 50%;
  min-width: 350px;
  margin: 0 auto;
}

/* ************************************************* FOOTER ************************************************ */

footer{
	background-color: #212529;
	padding: 2vw 0vw 1vw 0vw;
	font-size: 1vw;
	margin-top: 100%;
}

.element img{
	border-radius: 0vw;
	width: 5vw;
}