html{
	scroll-behavior: smooth;
}
h2, h3, h4, .nav-item, footer{
	text-align: center;
	color:#FFFF;
}
h5{
	color:#FFFF;
	font-size: 18px !important;
}

/* ********************************************* HEADER *********************************************** */

h1{
	font-size:30px !important;
	font-style: oblique 10deg;
	font-family: cursive;
	padding: 50px 0 0 15%;
	animation: titre ease 2s;
}

@keyframes titre{
	0%{
		opacity:0;
		transform: translate(-280px, 0px);
	}
	100%{
		opacity:1;
		translate: (0px, 0px);
	}
}

.container{
	background: #0a062c;
	background-size: cover;
	margin-bottom:200px;
	height: 130vh;
	border-radius:20px;
	margin-bottom: 20px;
	color:#FFFF;
}

.colorFont{
	background:#0a062c;
}

