{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Admin/adminHome.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
{% endblock %}

{% block body %}

<body>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>

	<div class="margin-navbar">
        <div id="map" class="map"></div>
    </div>
    
    <script src="{{ asset('JS/Admin/adminHome.js')}}"></script>
    
</body>
{% endblock %}