{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Users/Driver/driverHome.css')}}">
{% endblock %}

{% block body %}

<body>
	<div class="margin-navbar">
    </div>    
</body>
{% endblock %}