{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Administrator/administrator.css')}}">
{% endblock %}

{% block body %}

<!--  ********************************************* MAIN PART *********************************************** -->

    <main>
        <div class="container">
            <div class="row">
            
<!-- ************************************************** LEFT PART *********************************************** -->
            
                <div class="col-lg-2" id="leftPart">
                    <h2>LEFT</h2>
                </div>

<!-- ************************************************** CENTER PART *********************************************** -->

                <div class="col-lg-4" id="centerPart">
                    <h2>CENTER</h2>
                </div>

<!-- ************************************************** RIGHT PART *********************************************** -->

                <div class="col-lg-4" id="rightPart">
                    <h2>RIGHT</h2>
                </div>
                
            </div>
        </div>
    </main>
              

{% endblock %}