{% extends 'base.html.twig' %}

{% block stylesheets %} 

{% endblock %}

{% block body %}

    {% block title %}
    	<title></title>
    {% endblock %}

	<div class="marginNavbar">
		<body></body>
	</div>

{% endblock %}