{% extends 'base.html.twig' %}

{% block stylesheets %} 
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{{ asset('CSS/Users/Driver/driverHome.css')}}">
{% endblock %}

{% block body %}

    {% block title %}
    	<title>Mon Accueil</title>
    {% endblock %}

    <body>
    
    	<div class="margin-navbar">
    	
			<div class="chat_window">
				<div class="top_menu">
					<div class="buttons">
						<div class="button close"></div>
						<div class="button minimize"></div>
						<div class="button maximize"></div>
					</div>
					<div class="title">Message</div>
				</div>
				<ul class="messages"></ul>
				<div class="bottom_wrapper clearfix">
					<div class="message_input_wrapper">
						<input class="message_input" placeholder="Entrer votre message" />
					</div>
					<div class="send_message">
						<div class="icon"></div>
						<div class="text">Envoyer</div>
					</div>
				</div>
			</div>
			<div class="message_template">
				<li class="message">
					<div class="avatar"></div>
					<div class="text_wrapper">
						<div class="text"></div>
					</div>
				</li>
			</div>
			
        </div>

<!------ Include the above in your HEAD tag ---------->

        <!-- ********************************************** Script files ************************************************** -->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ asset('JS/Users/Driver/driverChat.js')}}"></script>
        <script src="https://unpkg.com/elm-pep"></script>

		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        
        <!-- ************************************************************************************************************** -->
        
    </body>

{% endblock %}