/* ********************************************* LEFT PART ******************************************** */

.container{
	padding: 150px;
}

/* ********************************************* LEFT PART ******************************************** */

#leftPart{
	background-color: #160947;
	border-radius: 20px;
	padding: 25px;
	margin-right:80px;
}

/* *********************************************** RIGHT PART ********************************************** */

#centerPart{
	background-color: #140759;
	border-radius: 20px;
	padding:20px;
}


/* *********************************************** RIGHT PART ********************************************** */

#rightPart{
	background-color: #140759;
	border-radius: 20px;
	padding:20px;
}
